#btn-signup {
  background-color: rgb(32, 136, 221);
  font-size: 18px;
  padding: 7px;
  border: 2px solid rgb(78, 78, 78);
  border-radius: 15px;
  width: max-content;
}
#btn-signup:disabled {
  background-color: rgb(163, 163, 163);
}
.warning {
  font-size: 16px;
  color: red;
}
.form-group-2 input {
  width: 100%;
}
.check {
  margin-top: 10px;
  text-align: left;
  display: flex;
  flex-direction: row;
}
.checkbox-round {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: none;
}
