<div class="main-container">
    <div class="heading-1">
        User Registration
    </div>
    <div class="form-container">
        <form [formGroup]="form" (submit)="signupUser(form.value)">
            <label for="userName">User Name</label>
            <input type="text" formControlName="userName" maxlength="15">
            <div class="warning" *ngIf="userName.touched && userName.invalid">
                <div *ngIf="userName.errors['required']">
                    *User Name is required
                </div>
            </div>
            <label for="contact">Contact Number</label>
            <input type="tel" formControlName="phone" formControlName="contact" maxlength="10">
            <div class="warning" *ngIf="contact.touched && contact.invalid">
                <div *ngIf="contact.errors['required']">
                    *Contact is required
                </div>
                <div *ngIf="contact.errors['minlength']">
                    *Contact should be minimum 10 characters
                </div>
                <div *ngIf="contact.errors['pattern']">
                    *Contact should be a Number
                </div>
            </div>
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email">
            <div class="warning" *ngIf="email.touched && email.invalid">
                <div *ngIf="email.errors['required']">
                    *Email is required
                </div>
                <div *ngIf="email.errors['pattern']">
                    *Invalid type example: "john20@gmail.com"
                </div>
            </div>
            <label for="password">Password</label>
            <input type="password" formControlName="password">
            <div class="warning" *ngIf="password.touched && password.invalid">
                <div *ngIf="password.errors['required']">
                    *Password is required
                </div>
                <div *ngIf="password.errors['minLength']">
                    *Password should be minimum 8 characters
                </div>
            </div>
            <div class="check">
                <input type="checkbox" class="checkbox-round" formControlName="checkbox">
                <a>Agree to terms and conditions</a>
            </div>
            <div class="buttons">
                <button type="submit" id="btn-signup" [disabled]="!form.valid">Sign Up</button>
                <div class="btn-other">Already Registered?
                    <button type="submit" id="btn-click-here" routerLink="/login">Click Here</button>
                </div>
            </div>
        </form>
    </div>
</div>