<div class="main-container">
    <div class="heading-1">
        Log In Page
    </div>
    <div class="form-container">
        <form [formGroup]="form">
            <label for="email">Email</label>
            <input type="email" formControlName="email">
            <label for="password">Password</label>
            <input type="password" formControlName="password">
            <div class="buttons">
                <button type="submit" id="btn-login" [disabled]="!form.valid" (click)="login(form.value)">Log
                    In</button>
                <div class="btn-other">If not registered
                    <button type="submit" id="btn-click-here" routerLink="/">Click Here</button>
                </div>
            </div>
        </form>
        <!-- <form [formGroup]="formToken">
            <a class="or">OR</a>
            <label for="token">Token</label>
            <div class="token-container">
                <input type="text" id="token-input" formControlName="token">
                <button type="submit" id="btn-token" [disabled]="!formToken.valid"
                    (click)="loginToken(formToken.value)">></button>
            </div>
        </form> -->
    </div>
</div>